* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: font;
  src: url(./assets/Giblant.otf);
}

.navBar {
  height: 15vh;
  background-color: rgb(14, 14, 14);
  padding: 10px 30px;
}

.holder {
  display: flex;
  justify-content: space-between;
}

.buttonBar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  width: 120px;
  background-color: #832d2d;
  border-radius: 15px;
  height: 40px;
  color: aliceblue;
  font-family: font;
}

.storeBody {
  background-color: #832d2d;
  padding: 100px;
}

.product {
  color: aliceblue;
  font-family: font;
}
